#include <windows.h>
#include "..\MarkEdit.h"

#include "meicon.rci"
#include "meinfo.rci"
#include "memenu.rci"
#include "medlgabout.rci"
#include "medlgopt.rci"
#include "medlgtl.rci"
#include "medlgtcc.rci"
#include "medlgtsc.rci"
#include "medlgrl.rci"
#include "medlgrcc.rci"
#include "medlgrsc.rci"
#include "medlgevl.rci"
#include "medlgevc.rci"
#include "medlgchc.rci"
#include "medlgchs.rci"
#include "medlgint.rci"
